[Unit]
Wants=network-online.target
After=network.target network-online.target

[Service]
Environment="http_proxy=http://[user:pwd@]proxy_ip:proxy_port"
Environment="https_proxy=http://[user:pwd@]proxy_ip:proxy_port"
WorkingDirectory=YOUR_DIRECTORY
ExecStart=/usr/bin/python3 YOUR_DIRECTORY/main.py
killMode=process

[Install]
WantedBy=multi-user.target
