<html>

<head>
  <title>Bangumi index</title>

  <style type="text/css">
    #download_name {
      width: 100%;
    }

    #example2 {
      width: 150px;
    }

    select {
      width: 250px;
    }

    textarea {
      width: 250px;
      height: 10em;
    }
  </style>

</head>

<body>
  <form action="refresh">
    <input type="submit" value="Refresh" />
  </form>
  <h1>Updates</h1>
  <ul>
    {% for bangumi in bangumis %}
    <li><a href="bangumi/{{bangumi[0]}}"><img src="{{bangumi[4]}}" height=300px><br>{{ bangumi[1] }}</a>
      {% if bangumi[5] == 0 %}<a href="{{bangumi[6]}}">第{{ bangumi[2]
        }}集</a>{% end %}<br> {{ bangumi[3] }}</li>
    {% end %}
  </ul>

</body>

</html>