<html>
<head>
<title>Bangumi index</title>

<style type="text/css">

#download_name { width: 100%; }
#example2 { width: 150px; }

select { width: 250px; }

textarea {
width: 250px;
height: 10em;
}

</style>

</head>
<body>
  <h1>Search Results</h1>
  <ul>
    {% for res in results %}
    <li>{{res[1]}}
        <form action="{{sub_url}}parse">
          <input type="hidden" id="url" name="url" value="{{res[0]}}">
          <input type="hidden" id="bangumi_name" name="bangumi_name" value="{{res[1]}}">
          <input type="submit" value="选择该资源">
        </form>
    </li>
    {% end %}
  </ul>
</form> 

</body>
</html>